.features {
  display: flex;
  align-items: center;
  padding: 4rem 0 3rem;
  width: 100%;
}

.featureSvg {
  height: 165px;
  width: 165px;
}

@media (max-width: 768px) {
  .features {
    padding: 3rem 0 2.5rem;
  }
}
